.idea/
__pycache__/
*.pyc
*.pyo
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.dbmdl
**/*.jfm
**/bin
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/obj
db.sqlite3
.media/
README.md
.local
.cache
